# Build results
bin/
obj/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*

#Remove .vs directory(and vscode)
.vs/
.vscode

#Remove mac specific .DS_Store
.DS_Store

#Remove database
*.db
